@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --navbar: #48466d;
  --dashboard: #3d84a8;
  --forms: #46cdcf;
  --dashboard-cards: #abedd8;
  --note-card: #ff9292;
  --inputcolor: var(--dashboard);
  --anchortag: #fff; /*ffcf70 */

  --priority_high: #eb455f;
  --priority_medium: #ea906c;
  --priority_low: #fae392;
  --priority_all: yellow;
  --task_description: #862b0d;
  --table_header: #b5c99a;
  --formlabel: #a78295;
}

body {
  background: #d9d9d9;
  min-height: 100vh;
}

header {
  background-color: var(--dashboard-cards);
  position: absolute;
  top: 0;
  left: 250px;
  width: 85%;
  height: 50px;
  text-align: center;
  color: #fff;

  align-items: center;
  padding: 20px 10px;
  z-index: 5000;
}

.hide {
  display: none;
}
/* For navbar */

nav {
  background-color: var(--navbar);
  height: 102vh;
  width: 270px;
  display: sticky;
  left: 0;
  top: 0;
  padding: 20px;
  overflow: hidden;
}

li {
  list-style: none;
  list-style-position: inside;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;

  margin-top: 0 0 0 10px;

  padding-bottom: 3rem;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 20%;
}

.logo span {
  font-weight: bold;
  color: white;

  padding-left: 15px;
  font-size: 35px;
  text-transform: uppercase;
}

a {
  width: 280px;
  font-weight: bold;
  font-size: 16px;
  color: var(--anchortag);
  display: table;
  padding: 10px;
}

.dashlogo {
  position: relative;
  width: 40px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 8px;
  margin-left: 15px;
}

a:hover {
  color: #33afcd;
  transition: 0.5s;
}

.logout {
  color: #ffcf70;
  margin-bottom: 22px;
}

.logt form {
  background-color: var(--navbar);
}

.logout-div {
  bottom: 100px;
  align-items: center;
  display: flex;

  align-items: center;
  margin-top: 100px;
}

/* for container */

.container {
  margin-left: 250px;
  height: 96vh;
  width: 85%;
  margin-top: 30px;
  background-color: var(--dashboard);
  position: absolute;
  top: 20px;

  overflow-x: scroll;
}

/*************** for create-task********************* */

.create_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_form form {
  padding: 30px;
  max-width: 90%;
  width: 800px;
  background-color: var(--forms);
  border-radius: 12px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

.create_form input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;

  color: #001c30;
  font-size: 15px;
  background-color: var(--inputcolor);
  border-radius: 12px;
}

.create_form textarea {
  height: 200px;
}
.create_form label {
  font-size: 19px;
  padding: 10px;
  color: var(--anchortag);
}
.create_form select {
  width: 100%;
  padding: 10px;
  outline: 0;

  color: #001c30;
  font-size: 15px;
  background-color: var(--inputcolor);
  border-radius: 12px;
}
#myInputField {
  width: 40px;
  background-color: var(--inputcolor);
}

.create_employe {
  display: flex;
  gap: 20px;
  align-items: center;
}

.create_form input[type="submit"] {
  background-color: var(--navbar);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create_form input[type="submit"]:hover {
  background-color: var(--note-card);
}

.create_form input[type="submit"]:active {
  transform: translateY(2px);
}

.create_form input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* ********************add user********************** */

.adduser-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adduser-form form {
  padding: 30px;
  max-width: 90%;
  width: 950px;
  background-color: var(--forms);
  border-radius: 12px;
}

.inputflex {
  justify-content: left;
  display: flex;
  gap: 20px;
  align-items: left;
}

.adduser-form input,
textarea {
  width: 100%;
  padding: 10px;

  color: #001c30;
  font-size: 15px;
  background-color: var(--inputcolor);
  border-radius: 12px;
}

#profile-pic {
  width: 70%;
}

.adduser-form select {
  width: 100%;
  padding: 10px;
  outline: 0;

  color: #001c30;
  font-size: 15px;
  background-color: var(--inputcolor);
  border-radius: 12px;
}

.adduser-form textarea {
  height: 200px;
}
.adduser-form label {
  color: var(--anchortag);
  height: 100%;
  font-size: 19px;
  padding: 10px;
  cursor: text;
}

.adduser-form input[type="submit"] {
  background-color: var(--navbar);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adduser-form input[type="submit"]:hover {
  background-color: var(--note-card);
}

.adduser-form input[type="submit"]:active {
  transform: translateY(2px);
}

.adduser-form input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* ************************for view task **************************/

.tasks {
  position: relative;
  width: 100%;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.t-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;

  margin-left: 25px;
  padding: 24px;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.task-left-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-right {
  margin-right: 30px;
}

.task-heading {
  display: flex;

  align-items: center;
}
.task-button {
  margin-top: 10px;
}

.heading-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  color: black;
}

.task-assigned-employee {
  display: flex;
  width: 30%;
}
.task-issued-date {
  text-align: left;
}

.low-priority {
  background-color: var(--priority_low);
}

.medium-priority {
  background-color: var(--priority_medium);
}

.high-priority {
  background-color: var(--priority_high);
}

.t_high {
  background-color: var(--priority_high);
}
.t_medium {
  background-color: var(--priority_medium);
}
.t_low {
  background-color: var(--priority_low);
}
.t_all {
  background-color: var(--priority_all);
}

.button-small {
  color: #ddd;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.task-status {
  background-color: #333;
  width: max-content;
  color: azure;
  padding: 7px;
  margin-left: 17px;
}

.t-card:hover {
  transition: transform 0.5s ease;
  transform: scale(1.01);
  cursor: pointer;
}
.sort-buttons {
  margin-left: 40px;
  margin-top: 50px;
}
.text-button {
  display: flex;
}

.task-no {
  font-size: 40px;
  color: #331d2c;
}

.issue-date {
  top: 0;
  font-size: 12px;
  color: #4d455d;
}
.task-priority {
  display: none;
}

.bottom-card {
  display: flex;
  justify-content: right;
  border-top: 1px solid black;

  width: 100%;
  margin-top: 8px;
}

.remaining-time {
  text-align: left;
}

.task-description {
  padding: 5px;
  margin-left: 17px;
  font-size: 25px;
  max-width: 970px;
  color: var(--task_description);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-small {
  border: none;
  color: black;
  padding: 5px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button-small:hover {
  margin-left: 0;
  transform: translateY(2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: grey;
}

/********************** Table  ************************/

.usertable {
  max-width: 1200px;
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--forms);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: var(--table_header);
  color: #333;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.curve th:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.curve th:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.table td button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #46458c;
}

.table td .btn-primary {
  background-color: #007bff;
  color: #fff;
}

.table td .btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.table td a {
  text-decoration: none;
  color: inherit;
}

/* ****************NOTESS*********** */
.note-card {
  width: 330px;
  height: fit-content;
}

.note-card {
  margin-top: 5px;
  background-color: var(--note-card);
  border-radius: 12px;
  padding: 10px;
}

.note-cards {
  max-width: 90%;
  display: flex;

  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 30px 80px;
}

.note-name {
  display: flex;
  align-items: center;
}

.note-heading {
  color: #0d47a1;
}

.note-description {
  color: #46458c;
}

/* **********Dashboard************ */

.employee {
  display: flex;
}

.card {
  margin-top: 10px;
  background: var(--dashboard-cards);
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.01);
  color: grey;
}

.swiper {
  margin-top: 10px;
  height: 100px;
}

.swiper-slide:first-child {
  margin-left: 0;
}

.e-text {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  margin-left: 8px;
  text-transform: uppercase;
  color: var(--navbar);
}
.employee {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.e-logo {
  width: 90px;
  height: 80px;
  border-radius: 40%;

  border: solid rgb(76, 100, 165);
}
.e-description {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 5px;
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
  color: #798e94;
}

.slide-container {
  max-width: 500px;
  max-height: 180px;
  padding: 10px;
}

.bottom-dash {
  margin-top: 20px;
  height: 470px;
  width: 98%;
  display: flex;

  margin-left: 15px;
  border-radius: 12px;
  gap: 10px;
}

.dash-left {
  border-radius: 12px;
  width: 60%;
  background-color: var(--forms);
  height: 440px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.dash-right {
  width: 40%;
  background-color: var(--forms);
  height: 440px;
  padding: 12px;
  border-radius: 12px;
}

.total {
  width: 330px;
  height: 185px;
  background-color: var(--dashboard-cards);
  border-radius: 12px;
  margin-right: 20px;
}

.total-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.task-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--navbar);
}
.total-title {
  font-size: 30px;
  color: var(--navbar);
}

.graph {
  width: 483px;
  height: 415px;
  background-color: var(--forms);
}

/* ****************send notes****************************************** */
.register-form {
  max-width: 400px;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  margin-left: 30px;
  text-align: left;
  background-color: var(--forms);
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.form-input label {
  flex: 1;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ddd;
}

.form-input input[type="text"],
.form-input textarea {
  flex: 2;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.form-input textarea {
  height: 120px;
}

.errors {
  color: red;
  font-size: 12px;
}

/* ***************Buttons************ */
.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: royalblue;
}

.btn-primary:active {
  background-color: deepskyblue;
}
